<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">

    <title>Categorias</title>

    <link rel="stylesheet" href="/style.css" th:href="@{/style.css}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"
            defer></script>

</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ManagerSoft</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/categoria">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/financeiro">Lançamento Financeiro</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container mt-5">
    <div class="row" th:if="${not #lists.isEmpty(msg)}">
        <div th:each="msg : ${msg}">
            <div class="alert alert-warning" role="alert" th:text="${msg}">
                Mensagem de Alerta
            </div>
        </div>
    </div>
</div>


<form class="card-body" method="POST" action="/financeiro" th:object="${movimentoFinanceiro}">
    <div class="container mt-5 ">
        <div class="card">
            <div class="card-header text-center">
                <h1 class="h1-title">Registro de Movimento Financeiro</h1>
            </div>
            <div class="card-body">

                <input type="hidden" th:field="*{id}" />

                <div class="input-group flex-nowrap">

                    <div class="input-group flex-nowrap mb-3">
                        <span class="input-group-text" id="addon-wrapping">Descrição:</span>
                        <input type="text" class="form-control" name="descricao"
                               th:value="${movimentoFinanceiro.descricao}" aria-describedby="addon-wrapping">
                    </div>

                    <div class="input-data input-group flex-nowrap mb-3 ms-3">
                        <span class="input-group-text" id="datepicker-addon">Data Ocorrencia:</span>
                        <input type="date" th:value="${movimentoFinanceiro.dataOcorrencia}" name="dataOcorrencia"
                               class="form-control">
                    </div>
                </div>


                <div class="input-group flex-nowrap md-3">
                    <div class="input-group flex-nowrap">
                        <select th:disabled="${movimentoFinanceiro.id != null}" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Não é possível a categoria do movimento financeiro"
                                class="form-select mb-3" th:field="*{categoria}" aria-label="Default select example">
                            <option value="" selected>Selecione a Categoria</option>
                            <option th:each="categoria : ${categorias}" th:value="${categoria.id}"
                                    th:text="${categoria.descricao} + ' (' + ${categoria.tipoCategoria.tipo} + ')'"></option>
                        </select>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Valor:</span>
                    <span class="input-group-text">R$</span>
                    <input type="text" th:value="${movimentoFinanceiro.valor}" class="form-control" name="valor" id="valor" oninput="formatarCampo(this)" title="Informe um valor válido. Ex: 123 ou 123.45">
                </div>

                <script>
                    function formatarCampo(input) {
                        input.value = input.value.replace(/[^\d.]/g, '');

                        const parts = input.value.split(',');
                        if (parts.length > 1) {
                            parts[1] = parts[1].slice(0, 2);
                            input.value = parts.join(',');
                        }
                    }
                </script>

                <div class="input-group mb-5 d-flex justify-content-center">
                    <div class="btnCancelar flex-grow-1 text-center mx-2">
                        <a type="submit" onclick="window.history.go(-1); return false;"
                                class="btn btn-danger btn-lg w-100">Cancelar
                        </a>
                    </div>
                    <div class="btnSalvar flex-grow-1 text-center mx-2">
                        <button type="submit" class="btn btn-success btn-lg w-100">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>
