<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Financerio</title>
    <link rel="stylesheet" href="../../static/style.css" th:href="@{../../static/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"
            defer></script>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ManagerSoft</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/categoria">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/financeiro">Lançamento Financeiro</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid ">
    <div class="row">
        <div class="col-12 mt-4">
            <form action="/financeiro/lancar" method="GET">
                <button type="submit" class="btn btn-success mb-3 align-items-center ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                         class=" align-items-center bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                    </svg>
                    Novo Lançamento
                </button>


            </form>
        </div>
    </div>
    <div class="container mb-5">
        <form action="/financeiro/filtrar" method="GET">
            <div class="row">
                <div class="col">
                    <label>Descrição:</label>
                    <input type="text" name="descricao" class="form-control" placeholder="Informe a descrição">
                </div>
                <div class="col">
                    <label>Data Início:</label>
                    <input type="date" name="dataInicio" class="form-control">
                </div>
                <div class="col">
                    <label>Data Fim:</label>
                    <input type="date" name="dataFim" class="form-control">
                </div>
                <div class="col">
                    <label>Tipo:</label>
                    <select name="tipoMovimento" class="form-control">
                        <option value="TODOS">Todos</option>
                        <option value="RECEITA">Receita</option>
                        <option value="DESPESA">Despesa</option>
                    </select>
                </div>
                <div class="col mt-4">

                    <button type="submit" class="btn btn btn-outline-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-funnel-fill" viewBox="0 0 16 16">
                            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z"/>
                        </svg>
                        Filtrar
                    </button>
                </div>
            </div>
        </form>
    </div>


    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data Ocorrência</th>
                    <th scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="movimentoFinanceiro : ${movimentoFinanceiros}">
                    <th th:text="${movimentoFinanceiro.id}" scope="row">1</th>
                    <td th:text="${movimentoFinanceiro.descricao}">Teste</td>
                    <td th:text="${movimentoFinanceiro.categoria.descricao}">Combustíveis e Lubrificantes</td>
                    <td th:text="${movimentoFinanceiro.categoria.tipoCategoria.tipo}">Despesa</td>
                    <td th:text="${movimentoFinanceiro.valor}">10,00</td>
                    <td th:text="${#dates.format(movimentoFinanceiro.dataOcorrencia, 'dd/MM/yyyy')}">10/01/2023</td>
                    <td>
                        <a class="btn btn-primary" th:href="@{'financeiro/editar/' + ${movimentoFinanceiro.id}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd"
                                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                            Editar
                        </a>
                        <a class="btn btn-danger" th:href="@{'financeiro/deletar/' + ${movimentoFinanceiro.id}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                            </svg>
                            Remover
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>