<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>ManagerSoft</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{../static/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"
            defer></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ManagerSoft</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/categoria">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/financeiro">Lançamento Financeiro</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container mb-5 mt-5">
    <form action="/financeiro/filtrar" method="GET">
        <div class="row">
            <div class="col">
                <div class="card text-bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-header text-center">Receitas</div>
                    <div class="card-body">
                        <h5 class="card-title text-center">R$ 100,00</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-bg-danger mb-3" style="max-width: 18rem;">
                    <div class="card-header text-center">Despesas</div>
                    <div class="card-body">
                        <h5 class="card-title text-center">R$ 50,00</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header text-center">Saldo</div>
                    <div class="card-body">
                        <h5 class="card-title text-center">R$ 50,00</h5>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>




<div class="container mt-5">
    <div class="card">
        <div class="card-header text-center">
            <h2 class="h2-title">Últimos 10 Lançamentos</h2>
        </div>
        <div class="card-body">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data Ocorrência</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="movimentoFinanceiro : ${movimentoFinanceiros}">
                    <th th:text="${movimentoFinanceiro.id}" scope="row">1</th>
                    <td th:text="${movimentoFinanceiro.descricao}">Teste</td>
                    <td th:text="${movimentoFinanceiro.categoria.descricao}">Combustíveis e Lubrificantes</td>
                    <td th:text="${movimentoFinanceiro.categoria.tipoCategoria.tipo}">Despesa</td>
                    <td th:text="${movimentoFinanceiro.valor}">10,00</td>
                    <td th:text="${#dates.format(movimentoFinanceiro.dataOcorrencia, 'dd/MM/yyyy')}">10/01/2023</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


</body>
</html>
